*{
    box-sizing: border-box;
    margin: auto;
}
.font{
    font-family: sans-serif;
}
.font-fly{
    color: #5f5c5c;
    font-size: 14px;
}
.top{
    height: 40px;
    margin-top: 20px;
    text-align: right;
    margin: 25px;
    padding: 4px;
    font-size: 13px;
    position: relative;
}
.top span{
    padding: 8px;
}
#top-pad{
    padding-right: 55px;
}
span a{
    text-decoration: none;
    color: #000000;
}
span a:hover{
    text-decoration: underline;
    color: #4e4d4d;
}
span img{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0px;
    right: 52px;
}
.badge{
    background-color: #780a99;
    border-radius: 50%;
    width: 32px;
    height: 30px;
    color: #eeeeee;
    position: absolute;
    padding: 5px;
    top: -5px;
    right: 0px;
    border: none;
    font-size: 15px;
}
.logo{
    width: 350px;
    margin-top: 35px;
}
.center{
    text-align: center;
}
#logo{
    width: 325px;
}
.search{
    width: 600px;
    position: relative;
    line-height: 80%;
}
#search{
    padding: 0px 47px;
    outline: none;
    height: 47px;
    width: 550px;
    border: 1px solid #ddd8d8;
    border-radius: 30px;
}
#search:hover{
    box-shadow: 0px 1px 5px #bbbbbb;
}
.icon{
    top: 14px;
    left: 40px;
    height: 16px;
    width: 16px;
    position: absolute;
}
.mic{
    top: 13px;
    right: 40px;
    height: 21px;
    width: 18px;
    position: absolute;
}
.btn{
    margin: 30px 10px 0px 0px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.btn:hover{
    outline: 0.5px solid #c5c4c4;
    background-color: #f8f7f7;
    color: #000000;
}
.lang{
    margin-top: 25px;
    font-size: 13px;
    height: 40px;
    padding: 2px;
}
.lang a{
    padding-right: 7px;
    padding-top: 5px;
    font-size: 13px;
    color: #1038a5;
    text-decoration: none;
}
.lang a:hover{
    text-decoration: underline;
}
@media only screen and (max-width: 600px){
    .search{
        width: 100%;
    }
    #search{
        width: 92%;
    }
}
.footer{
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: #f3f2f2;
    padding: 11px 30px;
    border: 0.5px solid #dddddd;
}

.f1{
    bottom: 5%;
}
.f2{
    bottom: 0%;
    padding: 0px;
    padding-left: 15px;
}
div.txt1{
    text-align: left;
}
div.txt2{
    text-align: right;
    margin-right: 0%;
}
.txt1 span,.txt2 span{
    padding-right: 23px;
}
.f2 div{
    display: inline-block;
    width: 49%;
    padding: 11px 0px;
    margin: 0%
}
